<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cargoEsRepository" type="CargoManager.DataAccess.Configuration.CargoEsRepositoryConfigSection, CargoManager.DataAccess" />
  </configSections>
  <cargoEsRepository serverUrl="http://localhost:9200" defaultIndex="cargoyou" enableTraceMode="true" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>