<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section type="CargoManager.DataAccess.Configuration.CargoEsRepositoryConfigSection, CargoManager.DataAccess" name="cargoEsRepository" />
  </configSections>
  <cargoEsRepository serverUrl="http://localhost:9200"
                   defaultIndex="cargoyou_tests"
                   enableTraceMode="true" />
</configuration>